header
{
    text-align: center;
    font-size: 30px;
    color: blue;
    background-color: aquamarine;
}

.arm{
    text-align: center;
}
nav {
    position: relative;
    padding: 15px;
    text-align: center;
}
nav a {
    font-size: 24px;
    padding: 20px;
    text-decoration: none;
    color: green;

}

.bottomMenu
{
    position: relative;
    flex-flow: column;
    
    width: auto;
    text-align: center;
    font-size: 30px;
    color:green;
    background-color:lawngreen;
}
.lik
{
    margin-top: 45%;
}